.accommodation-card {
  width: 100%; /* 카드 가로폭 전체 차지 */
  max-width: 100%;
}

.accommodation-image-container {
  position: relative;
  width: 100%;
}

.accommodation-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

/* 즐겨찾기 아이콘 스타일 */
.favorite-icon-container {
  position: absolute;
  top: 12px;
  right: 12px;
  padding: 6px;
  border-radius: 50%;
  z-index: 10;
}

.favorite-icon-container button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 22px;
  color: #ffcc00;
}

.favorite-icon-container button.active {
  color: #ffcc00;
}
