.chat-room {
  display: flex;
  flex-direction: column;
  height: 100vh; /* 전체 화면 높이 */
  background-color: #f9f9f9; /* 배경색 설정 (선택 사항) */
}

.chat-messages {
  flex: 1;
  height: 830px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.message {
  max-width: 60%;
  padding: 10px;
  border-radius: 10px;
  font-size: 14px;
}

.my-message {
  align-self: flex-end;
  background-color: #d1e7dd;
  text-align: right;
}

.other-message {
  align-self: flex-start;
  background-color: #f8d7da;
  text-align: left;
}

.username {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 5px;
}
