.favorite-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.favorite-button i {
  color: black; /* 기본값 */
}

.favorite-button i.favorite {
  color: gold; /* 즐겨찾기 상태일 때 노란색 */
}
